
body{
    background-color: #000000;
    width: 100%;
    height: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#121214;
    width: 60vw;
    height: 70vh;
    padding: 40px 90px 40px 90px; 
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .logo{
    width: 20vw;
    height: 10vh;
}
header h1{
    font-size: 2vw;
    color: #FFFFFF;
    margin: 40px;
    font-family:'IBM Plex Sans', sans-serif;
}
.perfil_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}
.avatar{
    width: 12vw;
    height: 12vh;
    list-style-type: none;
}
.avatar img{
    border-radius:10px;
}
.avatar img:hover{
    transform: scale(1.1);
    overflow: hidden;
    border: 1px white solid;
    overflow: hidden;
}
.add_perfil:hover{
    opacity: 0.3;
    border: 1px white solid;
}
.avatar span{
    color: #9C9C9C;
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    font-family:'IBM Plex Sans', sans-serif;
}
button{
    width: 10vw;
    height: 7vh;
    border:1.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 14px;
    background-color: #121214;
    color: #FFFFFF;
    margin-top: 17%;
    font-size: 12px;
}
button:hover{
    background-color: #FFFFFF;
    color: #000000;
    border: 1.5px #121214 solid;
}
@media only screen and (max-width: 1285px){
    header .logo{
        width: 20vw;
    }

    header h1{
        font-size: 2vw;
    }

    section{
        height: 50%;
    }

    .perfil_list{
        width: 100%;
        margin-top: 3vw;
    }

    .avatar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;
        height: 50%;
    }

    .avatar img{
        margin-right: 50%;
    }

    .avatar span{
        width: 50%;
        margin-top: 5px;
    }

    button{
        width: 30%;
        margin-top: 8%;
    }
}

@media only screen and (max-width: 480px){

    header .logo{
        width: 50vw;
    }

    header h1{
        font-size: 6vw;
    }

    section{
        flex-direction: column;
        height: 100%;
    }

    .perfil_list{
        flex-direction: column;
        margin-bottom: 10%;
    }

    .avatar{
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        width: 80%;
        height: 80%;
    }

    .avatar img{
        width: 60%;
    }

    .avatar span{
        width: 100%;
        text-align: center;
    }

    button{
        width: 60%;
        margin-top: 25%;
    }
}
